<body>
  <nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse p-0">
    <div class="container">
      <button class="navbar-toggler navbar-toggler-right" data-toggle="collapse" data-target="#navbarNav">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a href="/" class="navbar-brand mr-3">Reveal Blog</a>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item px-2">
            <a href="/admin/dashboard" class="nav-link active">Dashboard</a>
          </li>
          <li class="nav-item px-2">
            <a href="/post/home" class="nav-link">Post</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>