  <%include ../partials/nav%> 


  <div class="ui main text container">
    <div class="ui huge header">
        RESTful Blog App
    </div>
    <div class="ui top attached segment">
        <div class="ui divided items">

                <div class="item">
                    <div class="image">
                      blog image
                    </div>
                    <div class="content">
                       <a>blog id</a>
                          blog title
                      
                        <div class="meta">
                            <span> blog date></span>
                        </div>
                        <div class="description">
                            <p>
                                blog body.
                            </p>
                        </div>
                        <div class="extra">
                            <a class="ui floated basic violet button">Read More
                    <i class="right chevron icon"></i>
                    </a>
                        </div>
                    </div>

                </div>
        </div>
    </div>
</div>
