
<body id="landing-body">
    <div class="container" id="landing">
        <div class="row">
          <div class="col-lg-12">
            <div id="content">
              <h1 id="landing-head1">REVEAL BLOG</h1>
              <h3 id="landing-head3">Reveal all lives secrets</h3>
              <hr id="landing-hr">
              <a href="/post/home">
                <button  type="button" class="btn btn-secondary btn-lg" id="landing-btn">
                  <i class="fa fa-paw"></i> 
                  Get Started 
                </button>
              </a>
            </div>
          </div>
        </div>
      </div>          


